---
import type { CollectionEntry } from "astro:content";
import { commentConfig } from "../../config/commentConfig";
import Twikoo from "./Twikoo.astro";

interface Props {
  post: CollectionEntry<"posts"> | CollectionEntry<"spec">;
  customPath?: string;
}

const { post, customPath } = Astro.props;
const { id, data, slug } = post;

// 根据页面类型确定路径
const path =
  customPath || (post.collection === "posts" ? `/posts/${slug}` : `/${slug}`);
const url = `${Astro.site?.href}${path}`;

let commentService = "";
if (commentConfig?.enable && commentConfig?.twikoo) {
  commentService = "twikoo";
}
---

{
  commentConfig?.enable && (
    <div class="card-base p-6 mb-4">
      {commentService === "twikoo" && <Twikoo path={path} />}
      {commentService === "" && null}
    </div>
  )
}
